{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook - {{ conference }}{% endblock %}

{% block body %}
    <h2 class="mb-5">
        {{ conference }} Conference
    </h2>

    <div class="row">
        <div class="col-12 col-lg-8">
            {% if comments|length > 0 %}
                {% for comment in comments %}
                    <div class="media shadow border rounded-lg p-3 mb-4">
                        <div class="comment-img mr-3">
                            {% if comment.photofilename %}
                                <a href="{{ asset('uploads/photos/' ~ comment.photofilename) }}" target="_blank">
                                    <img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}" />
                                </a>
                            {% endif %}
                        </div>

                        <div class="media-body">
                            <h4 class="font-weight-light mb-0">
                                {{ comment.author }}
                            </h4>

                            <div class="mb-2">
                                <small class="text-muted text-uppercase">
                                    {{ comment.createdAt|format_datetime('medium', 'short') }}
                                </small>
                            </div>

                            <div class="comment-text">
                                {{ comment.text|nl2br }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div>There are {{ comments|length }} comments.</div>
                {% if previous >= 0 %}
                    <a class="btn btn-outline-orange" href="{{ path('conference', { slug: conference.slug, offset: previous }) }}">
                        <svg class="bi bi-chevron-double-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                        </svg>
                        Previous
                    </a>
                {% endif %}
                {% if next < comments|length %}
                    <a class="btn btn-outline-orange" href="{{ path('conference', { slug: conference.slug, offset: next }) }}">
                        Next
                        <svg class="bi bi-chevron-double-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                {% endif %}
            {% else %}
                <div class="text-center">
                    No comments have been posted yet for this conference.
                </div>
            {% endif %}
        </div>
        <div class="col-12 col-lg-4">
            <div class="bg-light shadow border rounded-lg p-4">
                <h3 class="font-weight-light">
                    Add your own feedback
                </h3>

                {{ form(commentForm) }}
            </div>
        </div>
    </div>
{% endblock %}
